<header class="header">
    <!-- Main Navbar -->
    <div class="navbar" id="myNavBar">
        {% if user.is_authenticated %}
        <!-- <a href="{% url 'account_email' %}">Change E-mail</a></li> -->
        <a href="{% url 'account_logout' %}">Sign Out</a></li>
        {% else %}
        <li><a href="{% url 'account_login' %}">Sign In</a></li>
        <!-- <li><a href="{% url 'account_signup' %}">Sign Up</a></li> -->
        {% endif %}
        <a href="/" class="active">About</a>
        <a href="/blog">Blog</a>
        <a href="#contact">Gallery</a>
        <a href="#about">Contact</a>
        <a href="javascript:void(0);" class="icon" onclick="openHamburgerMenu()">
        <i class="fa fa-bars"></i>
        </a>
    </div>    
</header>