{% extends 'base.html' %}

{% block content %}
<div class="post-header">
    <h1 class="post-title">{{ title }}</h1>
</div>
<div class="post-content">
    <form action=".">

      <label for="name">Name</label>
      <input type="text" id="name" name="name" placeholder="Your name...">
  
      <label for="email">Email</label>
      <input type="text" id="email" name="email" placeholder="Your email...">
  
      <!-- <label for="country">Country</label>
      <select id="country" name="country">
        <option value="australia">Australia</option>
        <option value="canada">Canada</option>
        <option value="usa">USA</option>
      </select> -->
  
      <label for="message">Message</label>
      <textarea id="message" name="message" placeholder="Write your message..." style="height:200px"></textarea>
  
      <input type="submit" value="Submit"> 
    </form>
</div>
{% endblock content %}