{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static "css/grid.css" %}">
{% endblock %} 

{% block content %}
    <div class="container">
        <div class="content">
            <h2>Art</h2>
            <p>This is a collection of my artworks, from finished
                pieces to rough sketches and studies. I hope this page will outline some of my drawing progress.
            </p>
            <p>We have also added a media query for screens that are 400px or less, which will vertically stack and center the navigation links.</p>
            <h3>Resize the browser window to see the effect.</h3>
        </div>
        
        <!-- Grid -->
        <div class="row">
            {% for post in post_list %}
            {% if forloop.counter|divisibleby:5 %}
                </div>
                <div class="row">
            {% endif %}
                <div class="column">
                    <div class="content">
                        {% with post.images.all|first as first_postimage %}
                        <a href="{% url 'blog_detail' post.pk %}">
                            <img src="{{ first_postimage.image.url }}" alt="{{ post.title }} image" style="width:100%">
                        </a>
                        {% endwith %}
                        <h3>{{ post.title }}</h3>
                        <p> {{ post.overview }}</p>
                    </div>
                    </div>
            {% endfor %}
        </div>

        
        <!-- <div class="row">
            <div class="column">
            <div class="content">
            
                <h3>My Work</h3>
                <p>Lorem ipsum..</p>
            </div>
            </div>
            <div class="column">
            <div class="content">
                <img src="{% static "img/lights.jpg" %}" alt="Lights" style="width:100%">
                <h3>My Work</h3>
                <p>Lorem ipsum..</p>
            </div>
            </div>
            <div class="column">
            <div class="content">
                <img src="{% static "img/nature.jpg" %}" alt="Nature" style="width:100%">
                <h3>My Work</h3>
                <p>Lorem ipsum..</p>
            </div>
            </div>
            <div class="column">
            <div class="content">
                <img src="{% static "img/mountains.jpg" %}" alt="Mountains" style="width:100%">
                <h3>My Work</h3>
                <p>Lorem ipsum..</p>
            </div>
            </div>
        </div>
        
        <div class="row">
            <div class="column">
                <div class="content">
                    <img src="{% static "img/bear.jpg" %}" alt="Bear" style="width:100%">
                    <h3>Some Other Work</h3>
                    <p>Lorem ipsum..</p>
                </div>  
            </div>
            <div class="column">
                <div class="content">
                    <img src="{% static "img/bear.jpg" %}" alt="Bear" style="width:100%">
                    <h3>Some Other Work</h3>
                    <p>Lorem ipsum..</p>
                </div>  
            </div>
            <div class="column">
                <div class="content">
                    <img src="{% static "img/bear.jpg" %}" alt="Bear" style="width:100%">
                    <h3>Some Other Work</h3>
                    <p>Lorem ipsum..</p>
                </div>  
            </div>
        </div>    -->
    </div>
{% endblock content %}